/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
     --light-black:#373737;
     --light-black-opacity:rgba(55, 55, 55,0.7);
     --text-color: #7D7D7D;
     --accent-color:#717CFF;
     --section-bg-color: #F2F2F2;
     --header-bg-color:#FAFAFA;
     --darker-grey:#37474F;
     --dark-grey:#252525;
     --light-grey:#565656;
     --dark-black: #2F2F2F;
}

/*WEB FONTS RELATED*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: 
         url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), 
         url('../fonts/roboto-v27-latin-500.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/roboto-v27-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v27-latin-700.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: 
         url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), 
         url('../fonts/roboto-v27-latin-900.woff') format('woff'); 
  }

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family:"Roboto","Arial", sans-serif;
    font-size: 16px;
    line-height: 38px;
    background-color: var(--header-bg-color);
    color: var(--text-color);
}
.container{
    max-width: 1254px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: auto;
    margin-left: auto;
}
/* HEADER */
.site-header{
    padding-top: 40px;
}
.site-header__container{
    display: flex;
    align-items: center;
}
.sitenav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.sitenav-link{
    text-decoration: none;
    color: var(--light-black);
    white-space: nowrap;
}
.sitenav-item:not(:last-child):after{
    content: "";
    display: block;
    height: 3px;
    width:0;
    transition:0.3s ease;
    background-color: var(--accent-color);
}
.sitenav-item:hover::after{
    width: 100%;
    height: 3px;
    transition: ease width 0.3s;
}
.sitenav-item:not(:first-child){
    margin-left:73px;
}
.sitenav-item{
    line-height: 20px;
    font-weight: 500;
}
.sitenav-link__bordered{
    margin: 0;
    padding: 0;
    padding: 11px 35px;
    border: 2px solid var(--accent-color);
    border-radius: 11px;
}


/* LOGO */
.logo-img{
    display: block;
}
.logo-link{
    margin-right:auto;
}

/* MAIN */
.site-main{
    padding-top: 140px;
}
.hero-section{
    background-image: url("../images/student-woman.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) 10px;
    padding-bottom: 59px;
}
.hero-section__info{
    background-color: var(--header-bg-color);
    width: 630px;
    margin-right: auto;
}

.hero-section__title{
    margin: 0;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: var(--dark-black);
}
.title-accent{
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: var(--accent-color);
}
.hero-section__text{
    margin: 0;
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
}
.btn{
    text-decoration: none;
    padding: 12px 34px;
    color: #fff;
    background-color: var(--accent-color);
    border-radius: 11px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.hero-section__btn{
    width: 262px;
    margin-bottom: 107px;
}
.btn::after{
    content: "";
    width: 18px;
    margin-left: 35px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/arrow-right.svg");
}
.hero-section__links img{
    display: block;
}
.hero-link{
    margin-right: 30px;
}
.hero-section__links{
    display: flex;
    align-items: center;
}

/* UNIVERSITIES */

.universities-section{
    padding: 55px 0;
    background-color: var(--section-bg-color);
 
}
.universities__container{
    position: relative;
}
.university-title{
    margin: 0;
    margin-bottom: 94px;
    font-weight: 500;
    text-align: center;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color:var(--light-black-opacity) ;
}

.universities-brands{
    display: flex;
    align-items: center;
}
.university__link img{
    display: block;
}
.university__link:not(:last-child) img{
    margin-right: 74px;
}


  .slider {
    position: relative;
    width: 1260px;
    height: 200px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .slider-controls {
    position: absolute;
    bottom: -13px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(124, 124, 124, 0.3);
    transition: background-color 0.2s linear;
  }
  .slider-controls label:not(:last-child){
    margin-right: 30px;
  }

  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color:#717CFF;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color:#717CFF;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color:#717CFF;
  }
  #btn-4:checked ~ .slider-controls label[for="btn-4"] {
    background-color:#717CFF;
  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
  .slide-image img {
    max-width: 100%;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  #btn-4:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  #btn-4:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  .slide img{
      display: block;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }
  
  /* SERVICES */
.services{
    padding: 122px 0 70px;
}
  .services-info{
      width: 940px;
      margin: 0 auto 110px;
  }
  .services-info__title{
      margin: 0;
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 37px;
      text-align: center;
      line-height: 54px;
      letter-spacing: -0.4625px;
      color: var(--light-black);
  }
  .services-info__text{
      margin: 0;
      text-align: center;
      font-weight: 500;
      font-size: 22px;
      line-height: 38px;
  }
.card-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 344px;
    padding: 29px 17px 34px 31px;
    background-color: #fff;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
.card-item:not(:nth-child(3)){
    margin-right: 47px;
}
.card-item:not(:nth-child(4)){
    margin-bottom: 56px;
}
.card-item:not(:nth-child(5)){
    margin-bottom: 56px;
}
.card-item::before{
    content: "";
    width: 76px;
    height: 76px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:30px 30px, contain;
    margin-bottom: 30px;
}
.card-item__career::before{
   background-image: url(../images/radar.svg);
   background-color: var(--accent-color);
   padding: 23px;
   border-radius: 50%;
}
.card-item__admissions::before{
    background-image: url(../images/bookmark.svg);
    background-color: #FF5959;
    padding: 23px;
    border-radius: 50%;
 }
 .card-item__visa::before{
    background-image: url(../images/file-checked.svg);
    background-color: #70CE88;
    padding: 23px;
    border-radius: 50%;
 }
 .card-item__accommodation::before{
    background-image: url(../images/home.svg);
    background-color: #5C96FF;
    padding: 23px;
    border-radius: 50%;
 }
 .card-item__briefing::before{
    background-image: url(../images/airplane.svg);
    background-color: #FA706C;
    padding: 23px;
    border-radius: 50%;
 }

.card-title{
    margin: 0;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: var(--darker-grey);
}
.card-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
}

.card-link{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: var(--accent-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.card-link::after{
    content: "";
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url("../images/arrow-right.svg");
    background-size: contain;
    margin-left: 20px;
}

/* NEWS_SECTION */
.news{
    background-color:var(--section-bg-color);
    padding-top: 102px;
    padding-bottom: 102px;
}
.news-info{
    width: 940px;
    margin: auto;
    margin-bottom: 120px;
}
.news-card{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 146px;
}
.news-info__title{
    font-weight: bold;
    margin: 0;
    margin-bottom: 25px;
    font-size: 37px;
    line-height: 54px;
    color: var(--light-black);
    text-align: center;
    letter-spacing: -0.4625px
}
.news-info__text{
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
}
.card-news{
    position: relative;
    padding-top: 244px;
}
.card-news:not(:last-child){
    margin-right: 46px;
}
.card-news::before{
  content: "";
  width: 344px;
  height: 224px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.card-news__come::before{
    background-image: url("../images/art-left.png");
}
.card-news__trump::before{
    background-image: url("../images/art-woman-center.png");
}
.card-news__how::before{
    background-image: url("../images/art-right.png");
}

.card-title{
    margin: 0;
    margin-bottom: 28px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: var(--dark-grey);
}
.time-news{
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: var(--light-grey);
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.time-news::before{
    content: "";
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url("../images/calendar.png");
    background-size: contain;
    margin-right: 15px;
}
.join-btn{
  width: 226px;
  margin-right: auto;
  margin-left: auto;
}

/* EVENTS */
.events{
    background-color: #fff;
    padding-top: 98px;
    padding-bottom: 110px;
}
.events-cards{
    max-width: 1127px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.event-card{
    padding: 30px;
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
.slick-slide {
    width: 540px;
    margin-right: 47px;
  }
.event-card:not(:last-child){
    margin-right: 47px;
}

.link-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-card__title{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: var(--darker-grey);
}
.event-card__text{
    margin: 0;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
}
.title-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
}
.calendar{
    margin: 0;
    margin-right: 19px;
    width: 76px;
    height: 76px;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    border-radius: 11px;
    color: var(--accent-color);
    padding: 10px;
    background-color: #abb0e4;
    text-align: center;
}
.calendar-month{
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: var(--accent-color);
    text-align: center
}
.time-text{
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: var(--light-black);
    text-align: right;
    letter-spacing: 0.444444px;
    display: flex;
    align-items: center;
}
.time-text::before{
    content: "";
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/time.svg");
}

/* COUNTRIES */

.countries{
    padding-top: 82px;
    padding-bottom: 136px;
    background-color: var(--section-bg-color);
}
.countries-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.country-item{
  width: 348px;
}
.country-item:not(:last-child){
    margin-right: 46px;
}
.country-item__title{
    margin-top: 27px;
    margin-bottom: 11px;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: var(--darker-grey);
}
.country-item__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
}

/* TESTIMONIALS */

.testimonial {
    padding-top: 115px;
    margin-bottom: 98px;
    background-image: url("../images/greenbox.png");
    background-repeat: no-repeat;
    background-position: calc(50% + -400px) top;
    background-size: 100px 20px;
  }
  .testimonial__title-wrapper {
    width: 950px;
    margin: 0 auto 142px;
    text-align: center;
  }
  .testimonial__heading {
    margin: 0;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: var(--light-black);
    margin-bottom: 25px;
  }
  .testimonial__desc {
    margin: 0;
    font-size: 22px;
    line-height: 38px;
  }
  .testimonial__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    justify-content: space-between;
  }
  
  .testimonial__item {
    width: 503px;
    padding: 39px 34px 46px;
    border-radius: 29px;
    margin-right: 61px;
  }
  .testimonial__info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .testimonial__info-img {
    margin-right: 20px;
  }
  .testimonial__info-heading {
    margin: 0;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: var(--darker-grey);
    margin-bottom: 4px;
  }
  
  .testimonial__info-text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(55, 71, 79, 0.6);
  }
  
  .testimonial__info__desc {
    margin: 0;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.7216);
  }
  .slick-slide {
    width: 503px;
    margin-right: 35px;
  }